:root {
  --black: #14213D;
  --blue: #0072bb;
  --light-blue: aliceblue;
  --white: #fff;
  --blur: rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  background: aliceblue;
  margin-top: 8%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
/* Navigation */
.navbar {
  background-color: #0072bb;
}
.navbar-brand {
  color: #fff;
  font-size: 30px;
}
.nav-link {
  color: #fff;
  font-size: 20px;
}

/* Home */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  color: #14213D;
  font-size: 45px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: #0072bb;
  text-align: center;
}
.main-name {
  color: #14213D;
  font-size: 2.5em !important;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #0072bb !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #0072bb !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

/* About */
section.about h1 {
  display: block;
  text-align: center; 
  margin: auto;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 2%;
}
.img-fluid {
  margin-left: 150px;
  height: 300px;
  width: 250px;
}
div.about-paragraph {
  font-weight: 500;
  line-height: 2.0;
}

/* Skills */
#skills-tools {
  margin-top: 10%;
  text-align: center;
  margin-left: 5%;
}
#skill-font {
  text-align: center;
  margin-bottom: 5%;
}
.frameworks-languages {
  margin-bottom: 5%;
}
.technologies {
  margin-bottom: 10%;
}

/* Projects section */
.projects {
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  height: 100%;
  margin-bottom: 5%;
  margin-left: 2%;
}
h1.project-title {
  display: block;
  text-align: center; 
  margin: auto;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 2%;
}
.box-card {
  border: #14213D 2px solid;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 10px;
  color: black;
  margin: 15px;
  width: 30%;
  height: 30%;
  text-align: center;
}

/* Image hover text overlay effect */
.image {
  position: relative;
  width: 100%;
}
.image-img {
  display: block;
  width: 100%;
  height: 100%;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image-overlay-blur {
  backdrop-filter: blur(5px);
}
.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image-overlay:hover {
  opacity: 1;
}
.image-overlay:hover > * {
  transform: translateY(0);
}

/* Repo and technologies used */
p.image-description {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}
.github {
  text-decoration: none;
  color: #0072bb;
}
.icons {
  font-size: 30px;
}
.box-card h3 {
  padding: 20px;
  background: #0072bb;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 20px;
}

/* Contact */
section.contact h1 {
  display: block;
  text-align: center; 
  margin: auto;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 2%;
}

.container .content{
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #0072bb;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 18px;
  color: #68686d;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 30px;
  font-weight: 600;
  color: #0072bb;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #ffffff;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side input.button{
  display: inline-block;
  margin-top: 12px;
}
.right-side input.button[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #0072bb;
  cursor: pointer;
  transition: all 0.3s ease;
}
input.button[type="button"]:hover{
  background: #4d81a1;
}
#status {
  margin-top: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
#status.success {
  background-color: #80d359cc;
  font-weight: 500;
  animation: status 4s ease forwards;
}
#status.error {
  background-color: #d35d59cc;
  font-weight: 500;
  color: #fff;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Footer */
.footer-color {
  background-color: #0072bb;
}
.footer-icons {
  font-size: 30px;
  color: #fff;
  display: inline-block;
  padding-left: 10%;
  margin-left: 12%;
}
.copyright {
  margin-top: 50px;
}