:root {
  --black: #14213D;
  --blue: #0072bb;
  --light-blue: aliceblue;
  --white: #fff;
  --blur: rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  background: aliceblue;
  margin-top: 8%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
/* Navigation */
.navbar {
  background-color: #0072bb;
}
.navbar-brand {
  color: #fff;
  font-size: 30px;
}
.nav-link {
  color: #fff;
  font-size: 20px;
}

/* About */
.img-fluid {
  margin-left: 100px;
}

/* Footer */
.footer-color {
  background-color: #0072bb;
}
.footer-icons {
  font-size: 30px;
  color: #fff;
  display: inline-block;
  padding-left: 10%;
  margin-left: 12%;
  /* padding-right: 15%; */
}
.copyright {
  margin-top: 50px;
}