/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js');
@import url('https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js');
@import url('https://kit.fontawesome.com/c2cdfae132.js');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

:root {
  --box-card-dark: #14213D;
  --header-light: #fca311;
  --footer-light: #0072bb;
  
  --background-color: aliceblue;
  --light: #fff;
  --background: rgba(0, 0, 0, 0.6);
}

/*universal selector*/
* {       
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Poppins" , sans-serif; */
}
* h2 {
  font-size: 50px;
  font-weight: bolder;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;

}


/* Header */
header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content:flex-end;   /*parent element of header h1 tag*/
  background-color: var(--footer-light);
}

/* Navigation Bar */
header.container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

header nav {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;  
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: flex-end;

}

/* header nav h1.main-header {
  color: var(--light);
  font-size: 50px;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-content:center;
} */

header nav ul {
  display: flex;   
  font-size: 25px;
  margin-top: 20px;
}

header nav ul li a {
  display: flex;
  color: var(--light);
}


/* Main */
main {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  background-color: var(--background-color);
}

/* About Me section*/
section.container {
  border: var(--footer-light) 3px solid;
  color: var(--box-card-dark);
  margin-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  margin-top: 8%;
}

section.container h2 {
  padding-top: 20px;
  display: block;
  text-align: center;
  margin: auto;
  font-weight: 500;
  font-size: 40px;
}

section.container div {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

section.container div img.profile-pic {
  display: flex;
  border-radius: 20px;
}
section.container div.bio-about-me  {
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight:700;
  line-height: 35px;
}

/* Skills section */
.my-skills {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
  padding-bottom: 1%;
}

#skill-font {
  font-weight: 500;
  padding-bottom: 3%;
  font-size: 30px;
}

/* Tools section */
.tools {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 5%;
}


/* Projects section */
#projects {
  padding-bottom: 4%;
}
.projects {
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}
section.projects div {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
 justify-content: center;
}

section.projects h2 {
  display: block;
  text-align: center; 
  margin: auto;
  font-weight: 500;
  font-size: 40px;
}

.box-card {
  flex: 0 0 0px;
  border: var(--box-card-dark) 2px solid;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  justify-content: space-between;
  padding: 10px;
  color: black;
  margin: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
}


/* Image hover text overlay effect */
.image {
  position: relative;
  width: 600px;
}

.image-img {
  display: block;
  width: 100%;
  height: 300px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay-blur {
  backdrop-filter: blur(5px);
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.image-description {
  text-align: center;
}

/* Image hover text overlay effect with the first card */
.image#first-card {
  position: relative;
  width: 1000px;
  height: 350px;
  display: block;
}

#first-card.image-img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Repo and technologies used */
article p.image-description {
  font-size: 20px;
  font-weight: 500;
}
article p i {
  font-size: 30px;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: 5px;
}
.fa-github {
  text-decoration: none;
}

.box-card h3 {
  padding: 20px;
  background: var(--footer-light);
  color: var(--light);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 20px;
}

/* Contact Form */
section.contact h2 {
  display: block;
  text-align: center; 
  margin: auto;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 2%;
}
*.container{
  font-size: 1em;
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #0072bb;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 18px;
  color: #68686d;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 30px;
  font-weight: 600;
  color: #0072bb;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side input.button{
  display: inline-block;
  margin-top: 12px;
}
.right-side input.button[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #0072bb;
  cursor: pointer;
  transition: all 0.3s ease;
}
input.button[type="button"]:hover{
  background: #4d81a1;
}
#status {
  margin-top: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
#status.success {
  background-color: #80d359cc;
  font-weight: 500;
  animation: status 4s ease forwards;
}
#status.error {
  background-color: #d35d59cc;
  font-weight: 500;
  color: #fff;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Footer */
#footer {
  background-color: var(--footer-light);
  text-align: center;
  width: 100%;
  margin-bottom: -15px;
  margin-top: 5%;
  padding-top: 2%;
}

footer h2 {
  color: var(--light);
}

#contact > a i{
  display: inline-block;
  margin: 0;
  padding: 10px 40px;
  color: var(--light);
  font-size: 50px;
}

.footer-license {
  color: aliceblue;
  font-size: 20px;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}





/* Media query for responsive layout */
@media screen and (min-width: 375px) and (max-width: 479px) {
  header {
    display: flex;
    width: 110%;
  }
  header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  nav h1.main-header {
    display: flex;
    font-size: 30px;
    margin-left: 20px;
  }
  nav ul{
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  main {
    width: 110%;
  }
  section#about-me {
    display: flex;
    width: 100%;
  }
  section#about-me h2 {
    padding-top: 20px;
    text-align: center;
    
  }
  section#about-me div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  section#about-me div img {
    display: flex;
    border-top-right-radius: 20px;
    margin-top: 10px;
  }
  div.bio-about-me {
    font-size: 25px;
  }
  .box-card#first-card img{
    width: 50%;
    
  }
  a img.thumbnail {
    min-width: 300px;
  }
  #footer {
    width: 110%;
  }
}
@media screen and (min-width: 480px) and (max-width: 576px) {
  header {
    display: flex;
    width: 100%;
  }
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
  }
  nav h1.main-header {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
  }
  nav ul{
    font-size: 20px;
    display: flex;
  }
  
  section#about-me {
    display: flex;
  }
  section#about-me h2 {
    padding-top: 20px;
    text-align: center;
    
  }
  section#about-me div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  section#about-me div img {
    border-top-right-radius: 20px;
    margin-top: 10px;
  }
  div.bio-about-me {
    font-size: 25px;
  }
  .box-card#first-card img{
    width: 100%;
    
  }
  a img.thumbnail {
    min-width: 400px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  header nav h1.main-header {
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    margin-right: 5%;
  }
  .box-card#first-card img{
    width: 100%;
    
  }
  a img.thumbnail {
    min-width: 400px;
  }
  
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: flex-end;
  }
  header nav h1.main-header {
    display: flex;
    margin-right: 10%;
    font-size: 60px;
  }
  .box-card#first-card img{
    width: 100%;
  }
  
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }

  header nav h1.main-header {
    display: flex;
    margin-right: 32.5%;
    font-size: 60px;
  }
  .box-card#first-card img{
    width: 100%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1283px) {
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  header nav h1.main-header {
    display: flex;
    margin-right: 37.5%;
  }
  .box-card#first-card img{
    width: 100%;
  }
}

@media screen and (min-width: 1284px) {
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: flex-end;
  
  }
}